---
import Modal from '@primitives/Modal.astro'
import ServiceCard from 'src/components/ui/ServiceCard.astro'
import ProjectServiceInfo from 'src/components/ui/ProjectServiceInfo.astro'
import { getLangFromUrl, useTranslations } from 'src/i18n/utils'
import { Services } from 'src/data/static/ServiceProjectData'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

---

<section class='container py-10'>
  <div class='space-y-7 pt-20'>
    <h3 class='text-primary-700 font-title text-right text-4xl font-medium'>
      {t('projectHelp.title')}
    </h3>
    <p class='font-body text-neutral-800'>
      {t('projectHelp.Description')}
    </p>
  </div>
  <div
    class='grid grid-cols-1 grid-rows-3 gap-5 py-3.5 md:grid-cols-3 md:grid-rows-1 lg:gap-20'
  >
    {
      Services.map((service) => (
        <ServiceCard
          FoundationCategory={service.Foundation}
          title={service.basicTitle}
          img={service.img}
        />
        <Modal
          id={`category-${service.Foundation}`}
          title={service.basicTitle}
          showDefaultHeader
        >
          <ProjectServiceInfo Service={service} />
        </Modal>
      ))
    }
  </div>
</section>

<script>
  import { getElements, getElement } from '@lib/dom-selector'

  const showMoreButtons = getElements(
    '.show-modal'
  ) as NodeListOf<HTMLButtonElement>

  showMoreButtons.forEach((showMore) => {
    showMore?.addEventListener('click', () => {
      let category = showMore.dataset.category
      const Modal = getElement(
        `#modal-category-${category}`
      ) as HTMLDialogElement
      Modal.showModal()
    })
  })
</script>
