---
import fetchApi from '@lib/strapi'
import { Image } from 'astro:assets'
import FeaturedStar from 'src/components/ui/FeaturedStar.astro'
import ProjectCategoryBadge from 'src/components/ui/ProjectCategoryBadge.astro'
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from 'src/i18n/utils'
import type { ProjectType } from 'src/types/data'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const projects = await fetchApi<ProjectType[]>({
  endpoint: 'projects?populate=thumbnail',
  wrappedByKey: 'data',
  lang: lang,
})

const featuredProject =
  projects
    .filter((x) => x.featured == true)
    .sort((a, b) => b.finish_date.valueOf() - a.finish_date.valueOf())[0] ??
  projects[0]
---

<section class='container py-6'>
  <div
    class='font-body flex flex-col items-center gap-5 text-neutral-800 lg:flex-row'
  >
    <a
      href={translatePath(`/projects/${featuredProject.slug}`)}
      class='relative basis-2/6 transition-all'
    >
      <Image
        src={`http://192.168.1.82:1337${featuredProject.thumbnail.url}`}
        alt={featuredProject.thumbnail.alternativeText}
        width={featuredProject.thumbnail.width}
        height={featuredProject.thumbnail.height}
        class='h-full w-max rounded-md shadow-md'
      />
      <div
        class='group hover:bg-primary-700/60 absolute inset-0 flex items-center justify-center rounded-md transition-all transition-discrete hover:backdrop-blur-xs'
      >
        <span class='hidden font-bold text-neutral-300 group-hover:block'
          >{t('projectCard.project.seeMore')}</span
        >
      </div>
      <div
        class='absolute -top-7 -right-6 lg:-top-5 lg:-right-5 xl:-top-8 xl:-right-7'
      >
        <FeaturedStar />
      </div>
    </a>

    <div class='flex basis-4/6 flex-col gap-5'>
      <div>
        <span class='text-lg font-light text-neutral-700'
          >{featuredProject.company}</span
        >
        <a href={translatePath(`/projects/${featuredProject.slug}`)}>
          <h5 class='font-title text-3xl font-medium hover:underline'>
            {featuredProject.title}
          </h5>
        </a>
      </div>
      <p class='line-clamp-3'>
        {featuredProject.description}
      </p>

      <div class='flex flex-wrap gap-3'>
        {
          featuredProject.categories.map((category) => (
            <ProjectCategoryBadge category={category} />
          ))
        }
      </div>
    </div>
  </div>
</section>
