---
import FeaturedStar from '@ui/FeaturedStar.astro'
import { ProjectCategoryBadge } from '@ui/ProjectCategoryBadge'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import { type ProjectBasicProps as Props } from '@data/props'
import { ImageFormat } from '@data/enums'
import StrapiImage from '@primitives/StrapiImage'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { project } = Astro.props
const parsedDate = Date.parse(project.finish_date)
const formatedDate = new Date(parsedDate)
---

<section class='font-body container flex flex-col items-center gap-10 py-6'>
  <div class='flex w-full flex-col justify-between gap-4 md:flex-row'>
    <h1
      class='font-title basis-1/2 text-3xl font-medium text-neutral-800 md:text-4xl'
    >
      {project.title}
    </h1>
    <div
      class='flex basis-1/2 flex-col justify-center md:items-end md:text-right'
    >
      <h4 class='text-xl text-neutral-700 md:text-2xl'>
        {project.company}
      </h4>
      <span class='font-light text-neutral-700 md:text-lg'
        >{project.location} -
        <time datetime={formatedDate.toISOString()}>
          {
            formatedDate.toLocaleDateString(lang, {
              month: 'short',
              year: 'numeric',
            })
          }
        </time>
      </span>
    </div>
  </div>

  <div class='flex w-full flex-col gap-10 md:flex-row-reverse'>
    <div class='relative basis-1/2'>
      {
        project.featured && (
          <div class='absolute -top-7 -right-6 z-10 lg:-top-5 lg:-right-5 xl:-top-8 xl:-right-7'>
            <FeaturedStar />
          </div>
        )
      }
      <StrapiImage
        media={project.thumbnail}
        displayFormat={ImageFormat.Original}
        className='aspect-video w-full rounded-lg object-cover shadow-md'
        url={Astro.url}
        context={t('meta.title.projetcs')}
        showCaption
        client:only
      />
    </div>
    <div class='flex basis-1/2 flex-col justify-center gap-4'>
      <h5 class='font-title text-primary-500 text-xl font-medium'>
        {t('projects.header.summary')}
      </h5>
      <p>
        {project.description}
      </p>
      <div class='flex gap-3'>
        {
          project.categories.map((category) => (
            <ProjectCategoryBadge
              category={category}
              url={Astro.url}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
